.person {
  width: 100%;
  border-bottom: 30px solid $primary-color;
}
.img {
  width: 60vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $main-padding * 6 0px;
  &__background {
    position: absolute;
    border-radius: 10px;
    width: 110%;
    height: 110%;
    filter: blur(8px);
    -webkit-filter: blur(8px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  &__image {
    border-radius: 50%;
    z-index: 2;
    // position: absolute;
    background-color: transparent;
  }
}
.random__btn {
  border: 1px solid white;
  background-color: transparent;
  padding: $main-padding * 0.7 $main-padding * 1.5;

  color: $accent-color;
  font: 1em $font-permanent;
  background-color: $primary-color;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 1px;
  transform: translateY(-40px);
  z-index: 2;
  &:hover {
    border-radius: 20px;
    letter-spacing: 3px;
  }
}
.names {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid$primary-color;
}
.name__element {
  padding: 0 $main-padding $main-padding 0;
  font-size: 1.3rem;
  font-weight: 900;
}
.contact,
.address {
  width: 90%;
  &__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $main-padding;
    border-bottom: 1px solid rgba(71, 71, 71, 0.479);
    & > span:first-child {
      font-weight: 900;
    }
    & > {
      padding: 0 $main-padding * 0.5;
    }
  }
  &__element:last-child {
    border-bottom: none;
  }
}
