@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Kranky&display=swap");

$primary-color: #171717 !default;
$accent-color: #f1da1d !default;
$main-padding: 10px;
$breakpoints: (
  xs: 479px,
  sm: 767px,
  md: 959px,
  lg: 1219px
);

$font-family: "Lato";
$font-permanent: "Kranky";
$font-size: 20px;
:export {
  fontFamily: $font-permanent;
  accentColor: $accent-color;
  fontSize: 20;
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
