.weather {
  padding-top: $main-padding * 3;
  min-height: 70vh;
}
.weather__title {
  width: 90%;
  padding: 0 $main-padding $main-padding 0;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 1px solid $primary-color;
}
.weather__element {
  width: 90%;
  display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(71, 71, 71, 0.479);
  &:last-child {
    border-bottom: none;
  }
  &-text {
    width: 60%;
  }
  & > span {
    // padding: 10px;
  }
}
.temperature__symbol {
  font-weight: 700;
}
