@import "./sass/_variables";
@import "./sass/_Header.scss";
@import "./sass/_Person.scss";
@import "./sass/_Weather.scss";
@import "./sass/_Chart.scss";
@import "./sass/_Map.scss";
@import "./sass/_Footer.scss";
@import "./sass/App.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
